@import 'bourbon/bourbon';


body {
  background: tint(hotpink, 90%);
  margin: 10% 20%;
  font-size: 16px;
  vertical-align: middle;
}

h1 {
  color: shade(hotpink, 60%);
  font-size: 60px;
}

.jects, .facts {
  background: white;
  // border-radius: 20px;
}

.zoom {
  background: tint(hotpink, 97%);
  align-items: center;
  border: 1px solid black;
  // border-radius: 5px;
  width: 330px;
  height: 220px;
  padding: 15px;
  @include transform(scale(0.8));
  @include transition(all .3s ease-in-out);
}

.zoom:hover {
  @include transition(all .3s ease-in-out);
  @include transform(scale(1) rotate(-10deg));
}
